:root {
    --primary: #ff6565;
    --blue: #071629;
}

/* Icon font */
@font-face {
    font-family: "Icon";
    src: url("./icon/fonts/holberton_school-icon.woff") format("woff");
    font-style: normal;
}

/* Regular font */
@font-face {
    font-family: "Regular";
    src: url("./font/SourceSansPro-Regular.otf") format("opentype");
    font-style: normal;
}

/* Bold font */
@font-face {
    font-family: "Bold";
    src: url("./font/SourceSansPro-Bold.otf") format("opentype");
    font-weight: 700;
}

/* Light font */
@font-face {
    font-family: "Light";
    src: url("./font/SourceSansPro-Light.otf") format("opentype");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/headphones_hero_1.jpg");
    font-family: "Regular", sans-serif;
    background-repeat: no-repeat;
}

header {
    padding: 0px 50px;
}

.logo a {
    text-decoration: none;
    font-family: "Bold";
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    position: relative;
}

.logo {
    width: 200px;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--primary);
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "Icon";
}

.firstSection {
    margin-top: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.firstSection h1,
.firstSection h5 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Bold", sans-serif;
}

.firstSection h1 {
    font-size: 30px;
}

.firstSection p {
    width: 500px;
    text-align: center;
}

.firstSection button {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 100px;
    border: none;
    width: 150px;
    background: var(--primary);
    color: white;
    font-family: "Bold";
}

.firstSection button:hover {
    opacity: 0.9;
}

.secondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    margin: 50px;
}

.secondSection h1,
.secondSection p {
    color: var(--blue);
}

.secondSection h1 {
    font-family: "Bold", sans-serif;
    padding: 50px;
}

.secondSection p {
    width: 500px;
    text-align: center;
}

.icn {
    font-size: 100px;
    padding: 0;
    margin: 0;
    color: var(--primary);
    font-family: "Icon";
}

.secondSection_div {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 0px;
}

.secondSection_firstTwo {
    display: flex;
    flex-direction: row;
}

.secondSection_secondTwo {
    display: flex;
    flex-direction: row;
}

.secondSection_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.secondSection_card p {
    width: 200px;
    font-size: 16px;
}

.thirdSection {
    background-image: url("./images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    display: flex;
    margin: 0;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.thirdSection h1 {
    font-family: "Bold";
    padding: 20px;
}

.thirdSection p {
    padding: 20px;
    text-align: center;
    width: 600px;
}

.thirdSection_dev {
    display: flex;
    flex-direction: row;
}

.thirdSection_firstTwo {
    display: flex;
    flex-direction: row;
}

.thirdSection_secondTwo {
    display: flex;
    flex-direction: row;
}

.pen {
    height: 140px;
}



.thirdSection_stack{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
	width: 167.5px;
	height: 160px;
	background: var(--primary);
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.thirdSection_stack h1{
    font-family: "Bold";
    font-size: 50px;
}

.thirdSection_stack h3{
    font-family: "Light";
    font-size: 12px;
}

@media only screen and (max-width: 1280px) {
    body {
        height: 600px;
        background-size: cover;
    }

    .firstSection {
        margin: 10px 50px;
        padding: 0;
        padding-top: 100px;
    }

    .firstSection p {
        padding: 0;
        width: auto;
    }

    .secondSection {
        padding-top: 50px;
    }

    .secondSection_firstTwo {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .secondSection_secondTwo {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .thirdSection {
        height: 900px;
        background-size: cover;
    }

    .thirdSection_firstTwo {
        display: flex;
        flex-direction: column;
    }

    .thirdSection_secondTwo {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 776px) {
    .navbar{
        justify-content: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 3.5rem;
        left: 0;
        text-align: center;
    }
    .nav-links a {
        padding: 0.5rem 0;
    }
    .nav-toggle:checked + .nav-toggle-label + .nav-links {
        display: flex;
    }
    .logo {
        order: 1;
    }
    .nav-toggle-label {
        display: block;
        position: absolute;
        left: 1rem;
    }

}

@media (max-width: 480px) {
    body {
        height: 900px;
        background-size: cover;
    }

    .logo {
        width: 150px;
    }

    .firstSection {
        padding-top: 200px;
    }

    .secondSection {
        padding-top: 50px;
    }

    .secondSection p {
        width: 400px;
    }

    .secondSection_card p {
        width: 200px;
        padding-top: 15px;
    }

    .secondSection_div {
        display: flex;
        flex-direction: column;
    }

    .thirdSection {
        text-align: center;
        background-color: var(--blue);
    }

    .thirdSection p {
        width: 400px;
    }

    .thirdSection_dev {
        display: flex;
        flex-direction: column;
    }
    .thirdSection_stack{
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 167.5px;
        height: 160px;
        background: var(--primary);
        clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    }
}

@media (max-width: 1170px) {
    .secondSection {
        padding-top: 50px;
    }
}

@media (max-width: 1238px) {
    .secondSection {
        padding-top: 50px;
    }
}
