:root {
    --primary: #C271FF;
    --bk: #071629;
    --shadow: #00000049
}

body {
    background-image: url("./img/Object.png");
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 100px;
    padding-top: 30px;
}

nav {
    position: relative;
}

nav img {
    width: 100%;
}

nav ul {
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 100
}

.logo {
    height: 30px;
    width: 130px;
    padding-top: 30px;
}

.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstSection h1 {
    font-size: 100px;
    color: white;
    padding: 0;
    margin: 0;
}

.firstSection h2{
    font-weight: 100;
}

.firstSection span{
    font-weight: 900;
    color: var(--primary);
}

.firstSection_div_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.firstSection_span span {
    margin: 50px;
    color: white;
}

button {
    background-color: var(--primary);
    border: none;
    padding: 10px;
    border-radius: 100px;
    color: white;
    width: 200px;
    margin: 50px;
    box-shadow: 0px 5px 10px var(--shadow);
}

.firstSection_div_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
}

.rndImg {
    border-radius: 100px;
}

.firstSection_div_three {
    display: flex;
    flex-direction: row;
}

.firstSection_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 200px;
    text-align: center;
}

.firstSection_card p {
    font-size: 12px;
}

.secondSection {
    background-color: var(--primary);
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secondSection_txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    color: white;
}

blockquote {
    padding: 0;
    margin: 0;
    width: 600px;
}


.secondSection h3 {
    font-size: 16px;
}

.secondSection p {
    font-style: italic;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 100px;
}

.thirdSection h2{
    padding-bottom: 50px;
    font-weight: 100;
}

.thirdSection span{
    color: var(--primary);
    font-weight: 100;
}

.thirdSection p {
    font-size: 16px;
    font-weight: 100;
}

.thirdSection_div {
    display: flex;
    flex-direction: row;
}

.rate {
    display: flex;
    flex-direction: row;
    color: var(--primary);
}

.rateImg {
    height: 50px;
    width: 50px;
}

.thirdSection_name_card {
    display: flex;
    gap: 10px;
    color: var(--primary);
}

.fourthSection{
    background-color: var(--bk);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.fourthSection span{
    font-weight: 900;
    color: var(--primary);
}

.fourthSection h2{
    font-family: 100;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fourthSection_div{
    display: flex;
    flex-direction: row;
}

.fourthSection_card{
    margin: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fifthSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifthSection h2{
    font-size: 60px;
    font-weight: 100;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.fifthSection_div{
    display: flex;
    flex-direction: row;
}

.fifthSection_left{
    width: 300px;
    margin-right: 50px;
}
.fifthSection_right{
    width: 300px;
    margin-left: 50px;
}

.fifthSection div{
    font-weight: lighter;
    color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fifthSection h3{
    color: black;
}

footer{
    background-color: var(--bk);
    padding: 20px;
}

.footerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerSection_div{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.socialIcons{
    color: white;
}

footer p {
    margin-top: 100px;
    padding: 0;
    margin: 0;
    color: gray;
}